body {
    /* background-color: #0f1a0f; */
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#othello-app {
    margin: auto;
    position: relative;
    width: 90vmin;
    height: 90vmin;
    margin-top: 30px;
    /* left: 50%;
    top: 30%;
    transform: translate(-50%, -50%); */
}

#othello-board {
    background-color: black;
    border-spacing: 2px;
    margin: auto;
    width: 90%;
    height: 90%;
}

td {
    background-color: #009959;
    position: relative;
}

td.black::after,
td.white::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

td.black::after {
    background-color: black;
}

td.white::after {
    background-color: white;
}

td.put-able-place::after {
    content: "";
    position: absolute;
    background-color: white;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

#othello-status {
    margin: auto;
    background-color: #002d33;
    width: 90%;
    height: 15%;
}

#ai-thinking-overlay {
    position: absolute;
    /* margin: auto; */
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    height: 90%;
    margin-left: 5%;
    display: none;
    z-index: 100;
}



.setup {
    position: fixed;
    width: 600px;
    max-width: 90%;
    height: 350px;
    left: 50%;
    top: 30%;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    /* text-align: center; */
    transform: translate(-50%, -50%);
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
    z-index: 10000;
}

.toggle_input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.toggle_label {

    width: 40px;
    height: 20px;
    left: calc(75% - 20px);
    background: #ccc;
    position: absolute;
    display: inline-block;
    border-radius: 40px;
    transition: 0.4s;
    box-sizing: border-box;
    vertical-align: top;
}

.toggle_label:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.toggle_text {
    left: 5px;
    position: relative;
    vertical-align: top;
    line-height: 20px;
}

.toggle_input:checked+.toggle_label {
    background-color: #4BD865;
}

.toggle_input:checked+.toggle_label:after {
    left: 20px;
}

.toggle_button {
    position: relative;
    height: 20px;
    margin: auto;
}

#game-title {
    text-align: center;
}

.setting-element {
    margin-left: 15%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.setting-title {
    margin-left: 10%;
}

#toggle_label_first_or_last.toggle_label:after {
    background: #000;
}
.toggle_input:checked+#toggle_label_first_or_last.toggle_label {
    background-color: #ccc;
}
.toggle_input:checked+#toggle_label_first_or_last.toggle_label:after {
    background-color: #fff;
}

#first_or_last {
    max-height: 100px;
    opacity: 1;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


#selectLevel {
    height: 30px;
    width: 30%;
    position: absolute;
    left: 55%;
    margin-top: 0px;
    background-color: #000;
    color: white;
    border-radius: 30px; 

}

#startButtonP {
    display: flex;
    justify-content: center;
    transition: transform 0.5s;
    will-change: transform;
}
#startButton {
    position: relative;
    text-decoration: none;
    color: #1d1d1d;
    display: block;
    max-width: 240px;
    padding: 0.5rem;
    border-radius: 50px;
    border: 1px solid #1d1d1d;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
    transition: transform .2s;
    user-select: none;
    margin-top: 30px;
    margin-bottom: 20px;

    &:active {
        transform: scale(.95);
    }
}


progress {
    position: relative;
    appearance: none;
    width: 100%;
    height: 50%;
    background-color: #fff; /* -moz- 用 */
    /* border-radius: 15px;    -moz- 用 */
}
progress::-webkit-progress-bar {
    background-color: #fff; 
    /* border-radius: 15px; */
}
progress::-webkit-progress-value {
    background-color: rgb(0, 0, 0);
    /* border-radius: 15px; */
}
progress::-moz-progress-bar {
    background-color: rgb(0, 0, 0);
    /* border-radius: 15px; */
}

#count {
    display: flex;
    justify-content: space-between;
}

#black-count {
    color: #fff;
    width: 5%;
    height: 50%;
    margin-left: 5px;
    font-size: 4.5vmin;
}

#white-count {
    color: #fff;
    width: 4%;
    height: 50%;
    font-size: 4.5vmin;
    margin-right: 5px;
    z-index: 1000;
}
    


